body {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    font-family: 'Smythe', system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
} 

.cover_img {
    background-size: cover;
}

#menu_ul {
    list-style-type: none;
    padding: 0;
}

.item_container {
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    justify-content: space-between;
}

.container_start {
    display: flex;
    margin: 20px 0;
    padding: 40px 0;
}

.item_emoji {
    font-size: 70px;
}

.item_info {
    text-align: left;
    margin: 0 5px;
}

.item_info p {
    margin: 6px 0;
}

.item_name {
    font-size: 28px;
}

.item_ingredients {
    font-size: 16px;
    color: #8b8b8b;
}

.item_price {
    font-size: 20px;
}

.container_end {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 40;
}

span.md-40{
    font-size: 40px;
}

#customer_order {
    display: none;
    margin: 30px 0;
    font-size: 28px;
}

#customer_order h3 {
    font-weight: 400;
}

.order_details {
    text-align: left;
}

.order_details p {
    margin: 0;
}

#total_order_price_container {
    margin: 35px 0;
    border-top: 2px solid #393333;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

#checkout_cart {
    list-style-type: none;
    padding: 0;
}

.cart_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart_item button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    vertical-align: middle;
    border: none;
    background-color: white;
    color: #bbbbbb;
    width: 77px;
    text-align: start;
}


.btn-order {
    width: 100%;
    color: whitesmoke;
    background-color: #16DB99;
    font-size: 16px;
    padding: 18px;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    font-weight: 900;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
    max-height: 350px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 5px 5px 250px rgba(0, 0, 0, 0.5);
}

#modal h4 {
    font-size: 20px;
}

#form_container {
    width: 80%;
    margin: auto;
}

#payment_form input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: 15px auto;
    padding: 15px 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #757575;
}

#thankyou-container {
    font-family: 'Smythe', system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: none;
    margin-bottom: 80px;
    font-size: 32px;
    color: #065F46;
    background-color: #ECFDF5;
    border-radius: 3px;
    padding: 35px 60px;
}
