body {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
} 

.cover_img {
    background-size: cover;
}

#menu_ul {
    list-style-type: none;
    padding: 0;
}

.item_container {
    display: flex;
    font-family: 'Smythe', system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px 0;
    padding: 40px 0;
    border-bottom: 1px solid #d2d2d2;
}

.item_emoji {
    font-size: 70px;
}

.item_info {
    text-align: left;
    margin: 0 5px;
}

.item_info p {
    margin: 6px 0;
}

.item_name {
    font-size: 28px;
}

.item_ingredients {
    font-size: 16px;
    color: #8b8b8b;
}

.item_price {
    font-size: 20px;
}